
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-big-gap {
  gap: 4rem;
}

.flex-small-gap {
  gap: 1rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}